In [19]:
import pandas as pd

df = pd.read_csv(
    
    "/Users/ds/Coding/Python/Medium/Learning/EDA/New York real estate/streeteasy.csv")


df.columns

Index(['rental_id', 'building_id', 'rent', 'bedrooms', 'bathrooms',
       'size_sqft', 'min_to_subway', 'floor', 'building_age_yrs', 'no_fee',
       'has_roofdeck', 'has_washer_dryer', 'has_doorman', 'has_elevator',
       'has_dishwasher', 'has_patio', 'has_gym', 'neighborhood', 'submarket',
       'borough'],
      dtype='object')

In [55]:
groupings = df.groupby('borough')
groupings.filter(lambda x: x.size_sqft.max() > 4000).borough

0       Manhattan
1       Manhattan
3       Manhattan
4       Manhattan
7       Manhattan
          ...
4994    Manhattan
4996    Manhattan
4997    Manhattan
4998    Manhattan
4999    Manhattan
Name: borough, Length: 3539, dtype: object

In [72]:
import numpy as np
frame = pd.DataFrame(np.random.randn(5, 5), columns=["a", "b", "c", "d", "e"])
frame

          a         b         c         d         e
0  2.232369 -1.727261 -0.681007  1.508552 -0.678450
1  1.880244 -0.567155 -0.965562  0.413080  1.882651
2  1.137507 -1.392023 -1.347336  0.155280 -0.294237
3 -1.250356 -1.028684  0.176091 -0.484094  1.235891
4  0.465550 -0.546784 -0.341404 -0.558973 -2.110289

In [113]:
df = pd.DataFrame({"a": ["B", "a", "C"], "b": [1, 2, 3]})

df.sort_values(by="a", key=lambda x: x.str.lower(), inplace=True, ignore_index=True)
df

   a  b
0  a  2
1  B  1
2  C  3

In [116]:
df.dtypes

a    object
b     int64
dtype: object

In [247]:
import datetime

df = pd.DataFrame(
    [
        [1, 2],
        ["a", "b"],
        [datetime.datetime(2016, 3, 2), datetime.datetime(2016, 3, 2)],
    ],
    columns=["a", "b"],
)


df.T
df

                     a                    b
0                    1                    2
1                    a                    b
2  2016-03-02 00:00:00  2016-03-02 00:00:00

In [295]:
# df[df.b == 2 ]
# df[lambda df: df.columns[1]]
df.iat[2, 0]

datetime.datetime(2016, 3, 2, 0, 0)

In [300]:
import bisect

lst = [1,2,2,2,3,4,7]

bisect.bisect(lst, 3)
bisect.insort(lst, 5)
lst

[1, 2, 2, 2, 3, 4, 5, 7]

In [351]:
dict = {"bisc": "small", "ella": "big"}
dict.pop("bisc", "not in dict")

'small'

## Sets

In [359]:
a = {1,2,3,4,5}
b= {3,4,5,6,7}

{1, 2, 6, 7}

In [380]:
a.union(b) # {1, 2, 3, 4, 5, 6, 7}  same as a | b
a.intersection(b) # {3, 4, 5} same as a & b
a.difference(b) # {1, 2} same as a - b (elements in a that are not in b)
a.symmetric_difference(b) # {1, 2, 6, 7} same as a ^ b (all elements that they don't share)
a.issubset(b) # False. Checking if all elements of a are in b
a.issuperset(b) # False. Checking if all elements in b are in a
a.isdisjoint(b) # False. Checking if a and b have no elements in common
a == b # checks if sets contain the same elements. Order doesn't matter

False

In [374]:
a.remove(6) # raises error. Use discard() to suppress error
a.pop() # removes random element
a.clear() # removes all elements

{1, 2, 3, 4, 5}

In [383]:
d = {"Norshy", "Bisc", "Ella", "Dan"}
{item for item in  d if len(item) > 3}
{len(item) for item in d}

{3, 4, 6}

In [1]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}